{% extends "base.html" %}

{% block links %}
    <!-- CSS datatable -->
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/botoes.css">

{% endblock %}

{% block container %}
<div class="container-fluid">
   <div class="row">
      <div class="col-md-6 mb-3">
         <div class="card shadow mb-4">
            <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold" style="color:#ffa171;">Gerar proposta</h6>
            </div>
            <div class="card-body">
               <div style="display: flex; flex-direction: column; align-items: center;">
                  <img src="/static/img/undraw_chore_list_re_2lq8.svg" width="180" height="180">
                  <p>***Descrição intuitiva para explicar o campo de gerar proposta aos representantes</p>
               </div>
            </div>
            <div class="card-footer" style="display: flex; justify-content: flex-end;">
               <a href="/"><button class="btn-gerar">Gerar proposta</button></a>
            </div>
         </div>
      </div>
      <div class="col-md-6 mb-3">
         <div class="card shadow mb-4">
            <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold" style="color: #36b9cc;">Consultar preços</h6>
            </div>
            <div class="card-body">
               <div style="display: flex; flex-direction: column; align-items: center;">
                  <img src="/static/img/undraw_file_searching_re_3evy.svg" width="180" height="180">
                  <p>***Descrição intuitiva para explicar o campo de consulta de preços aos representantes</p>
               </div>
            </div>
            <div class="card-footer" style="display: flex; justify-content: flex-end;">
               <a href="/consulta"><button class="btn btn-info">Consultar</button></a>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-6 mb-3">
         <div class="card shadow mb-4">
            <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary">Cadastrar Cliente</h6>
            </div>
            <div class="card-body">
               <div style="display: flex; flex-direction: column; align-items: center;">
                  <img src="/static/img/undraw_sign_up_n6im.svg" width="180" height="180">
                  <p>***Descrição intuitiva para explicar o campo de cadastrar cliente aos representantes</p>
               </div>
            </div>
            <div class="card-footer" style="display: flex; justify-content: flex-end;">
               <button class="btn btn-primary" name="Cadastrar" id="modal-cadastrar-cliente">Cadastrar</button>
            </div>
         </div>
      </div>
      <div class="col-md-6 mb-3">
         <div class="card shadow mb-4">
            <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold" style="color: #e74a3b;">Interações</h6>
            </div>
            <div class="card-body">
               <div style="display: flex; flex-direction: column; align-items: center;">
                  <img src="/static/img/undraw_social_interaction_re_dyjh.svg" width="180" height="180">
                  <p>***Descrição intuitiva para explicar o campo de interações aos representantes</p>
               </div>
            </div>
            <div class="card-footer" style="display: flex; justify-content: flex-end;">
               <button class="btn btn-danger" name="Interações" id="botao-modal-interacao">Interações</button>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-6 mb-3">
         <div class="card shadow mb-4">
            <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold" style="color: #1cc88a;">Pedidos de Clientes</h6>
            </div>
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Position</th>
                              <th>Office</th>
                              <th>Age</th>
                              <th>Start date</th>
                              <th>Salary</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                              <th>Name</th>
                              <th>Position</th>
                              <th>Office</th>
                              <th>Age</th>
                              <th>Start date</th>
                              <th>Salary</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          <tr>
                              <td>Tiger Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                          </tr>
                          <tr>
                              <td>Garrett Winters</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                              <td>63</td>
                              <td>2011/07/25</td>
                              <td>$170,750</td>
                          </tr>
                          <tr>
                              <td>Ashton Cox</td>
                              <td>Junior Technical Author</td>
                              <td>San Francisco</td>
                              <td>66</td>
                              <td>2009/01/12</td>
                              <td>$86,000</td>
                          </tr>
                          <tr>
                              <td>Cedric Kelly</td>
                              <td>Senior Javascript Developer</td>
                              <td>Edinburgh</td>
                              <td>22</td>
                              <td>2012/03/29</td>
                              <td>$433,060</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              ***Descrição intuitiva para explicar o campo de <code>pedidos</code> aos representantes</p>
            </div>
            <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
               <button class="btn btn-success" name="pedidos" id="pedidos-ganhos">Exibir Pedidos</button>
            </div>
         </div>
      </div>
      <div class="col-md-6 mb-3">
         <div class="card shadow mb-4">
            <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-secondary">Pedidos em andamento</h6>
            </div>
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Position</th>
                              <th>Office</th>
                              <th>Age</th>
                              <th>Start date</th>
                              <th>Salary</th>
                          </tr>
                      </thead>
                      <tfoot>
                          <tr>
                              <th>Name</th>
                              <th>Position</th>
                              <th>Office</th>
                              <th>Age</th>
                              <th>Start date</th>
                              <th>Salary</th>
                          </tr>
                      </tfoot>
                      <tbody>
                          <tr>
                              <td>Tiger Nixon</td>
                              <td>System Architect</td>
                              <td>Edinburgh</td>
                              <td>61</td>
                              <td>2011/04/25</td>
                              <td>$320,800</td>
                          </tr>
                          <tr>
                              <td>Garrett Winters</td>
                              <td>Accountant</td>
                              <td>Tokyo</td>
                              <td>63</td>
                              <td>2011/07/25</td>
                              <td>$170,750</td>
                          </tr>
                          <tr>
                              <td>Ashton Cox</td>
                              <td>Junior Technical Author</td>
                              <td>San Francisco</td>
                              <td>66</td>
                              <td>2009/01/12</td>
                              <td>$86,000</td>
                          </tr>
                          <tr>
                              <td>Cedric Kelly</td>
                              <td>Senior Javascript Developer</td>
                              <td>Edinburgh</td>
                              <td>22</td>
                              <td>2012/03/29</td>
                              <td>$433,060</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              ***Descrição intuitiva para explicar o campo de <code>pedidos em andamento</code> aos representantes</p>
            </div>
            <div class="card-footer" style="display: flex; justify-content: flex-end;">
               <button class="btn btn-secondary" name="pedidos" id="pedidos-ganhos">Em andamento</button>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container pt-4" style="transition: 0.5s; max-width: 1440px;">
   <!-- <div class="row">
      <div class="col-md-6 mb-3">

         <div class="input-group" style="width: 65%;">

            <input type="text" id="searchInput" class="form-control" placeholder="Filtrar qualquer valor">
            <div class="input-group-append">
               <span class="input-group-text">
                  <i class="fa fa-search"></i>
               </span>
            </div>

         </div>
      </div>
   </div> -->
   <div class="row" id="cardInicio">

   </div>

   <!-- <div class="row">
      <div class="col-md-6 mb-3">
         <button class="btn btn-info" id="carregarItens" style="width: 200px; font-size: 12px;">Carregar Itens (Funil de Vendas)</button>
      </div>
   </div> -->

      <div class="modal fade" id="modalPerder" data-bs-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="modalPerderLabel">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modalPerderLabel">Perder proposta</h5>
                  <button type="button" class="close" aria-label="Fechar">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body-perder">
                  <!-- Conteúdo será preenchido dinamicamente usando JavaScript -->
               </div>
            </div>
         </div>
      </div>

      <div class="modal fade" id="modalSimNao" data-bs-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="modalSimNaoLabel">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-body" id="modal-body-simNao">
                  <!-- Conteúdo do Modal Sim ou Nao -->
               </div>
            </div>
         </div>
      </div>

      <div class="modal fade" id="modalInteracao" data-bs-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="modalInteracaoLabel">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-body">
                  <!-- Conteúdo do Modal Sim ou Nao -->
               </div>
            </div>
         </div>
      </div>

      <div class="modal fade" id="modalGanhar" data-bs-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="modalGanharLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-body">
                  <!-- Conteúdo do Modal Ganhar -->
               </div>
            </div>
         </div>
      </div>

      <div class="modal fade" id="modalPedidos" data-bs-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="modalPedidosLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modalGanharLabel">Pedidos</h5>
                  <button type="button" class="close" aria-label="Fechar" style="margin: 10px;">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <div class="col-md-6 mb-3">
                     <button class="btn btn-info" id="carregarPedidos" style="width: 200px;">Carregar Pedidos </button>
                  </div>
                  <div class="row" id="cadastrar-pedido">
                     
                  </div>
               </div>
            </div>
         </div>
      </div>

</div>

<div id="success-message" class="alert alert-success top-message slide-in" style="display: none;">
   Ação bem-sucedida! Sua mensagem de sucesso aqui.
</div>

<div id="loading-overlay" style="display: none;">
   <div id="loading-spinner"></div>
</div>

{% endblock %}

{% block scripts %}

<script src="/static/js/buscando_api.js"></script>
<script src="/static/js/envios.js"></script>
<script src="/static/js/modal.js"></script>
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Plugin icons -->
<script src="https://kit.fontawesome.com/d1807a784c.js" crossorigin="anonymous"></script>

<!-- script com a construção das tabelas -->
<script src="static/js/demo/datatables-demo.js"></script>

<script>
   function botaoAdicionarContato(){
      // Ao clicar no botão "plus"
      var campo_input = $(".campo_input");
      $(".botao_plus").on("click", function () {
         // Encontre os elementos associados ao card específico
         var cardContent = $(this).closest('.card-content');
         var campoAdicional = cardContent.siblings('.campo_adicional');

         // Exibir o campo adicional apenas no card clicado
         campoAdicional.show();
      });

      // Ao clicar no botão "cancelar"
      $(".botao_cancelar").on("click", function () {
         // Ocultar o campo adicional associado ao botão clicado
         $(this).closest('.campo_adicional').hide();
         campo_input.val('')
      });
   }
</script>

<script>
   let clicksItens = 0; // valor inicial de top
   let clicksPedidos = 0; // valor inicial de top
   let skipValue = 0; // valor inicial de skip

   let carregarEmAndamento = document.getElementById("carregarItens")
   let carregarPedidos = document.getElementById("carregarPedidos")

   carregarEmAndamento.addEventListener('click', function() {
         let statusId = 1;
         skipValue = 30 * clicksItens
         enviarRequisicao(statusId,'cardInicio',4,30);
         console.log(skipValue)
         clicksItens++
   });

   carregarPedidos.addEventListener('click', function() {
         let statusId = 2;
         skipValue = 30 * clicksPedidos
         enviarRequisicao(statusId,'cadastrar-pedido',6,15);
         console.log(skipValue)
         clicksPedidos++
   });

   function enviarRequisicao(statusId,id_card,margin,topValue) {
      $("#loading-overlay").show();
       fetch('/mouse-down', {
           method: 'POST',
           headers: {
               'Content-Type': 'application/json'
           },
           body: JSON.stringify({
               statusId:statusId,
               skip: skipValue,
               top:topValue
           })
       })
      .then(response => response.json())
      .then(data => {
         if(data === "Terminou"){
            $("#loading-overlay").hide();
            alert("Não possui mais itens")
            return
         }
           // lógica para lidar com a resposta do servidor
           const containerRow = document.getElementById(id_card);

            data.forEach(dado => {
               containerRow.innerHTML  += `
                  <div class="col-md-${margin} mb-3" id="containerDosCards">
                        <div class="custom-card">
                           <div class="card-body">
                              <input class="id-deals" type="text" value="${dado.DealId}" style="display: none;">
                              <input class="nome-empresa" type="text" value="${dado.ContactName}" style="display: none;">
                              ${dado.PersonId === null && dado.StatusId === 1? 
                                 `
                                 <div class="card-content" style="display: flex; justify-content: space-between;">
                                    <h6 class="card-text">${dado.ContactName} - ${dado.DealId}</h6>
                                    <i class="fa-solid fa-plus botao_plus" style="color: gray; cursor: pointer;" title="Adicione um contato"></i>
                                 </div>
                                 <p style="color: red;">Adicione um contato para ganhar proposta</p>
                                 <div class="campo_adicional" style="display: none;">
                                    <div class="caret-down"></div>
                                    <h6 style="border-bottom: 1px solid lightgrey; padding: 5px;">Adicionar Contato</h6>
                                    <div style="margin-top: 10px; margin-bottom: 10px;">
                                       <label>Contato: </label>
                                       <input type="text" class="form-control campo_input">
                                       <div class="suggestions_2 suggestions_campo_input" style="display: none;"></div>
                                    </div>
                                    <button class="btn btn-info btn-sm salvarContato" onclick="enviarDeals($(this).closest('.custom-card'))">Salvar</button>
                                    <button class="btn btn-danger btn-sm botao_cancelar">Cancelar</button>
                                 </div>
                                 ` 
                                 : dado.PersonId !== null && dado.StatusId === 2?
                                 `
                                 <h6 class="card-text">${dado.ContactName} - ${dado.DealId}</h6>
                                 `
                                 : dado.ExternallyAccepted === 'Sim' && dado.StatusId === 1?
                                 `
                                 <h6 class="card-text">${dado.ContactName} - ${dado.DealId}</h6>
                                 `
                                 :
                                 `
                                 <div class="card-content" style="display: flex; justify-content: space-between;">
                                    <h6 class="card-text">${dado.ContactName} - ${dado.DealId}</h6>
                                    <br>
                                 </div>
                                 <p style="color: red;">Aceite a proposta para poder ganhá-la</p>
                                 `

                              }
                              <p class="data-aceito card-aceito">Aceito: ${dado.ExternallyAccepted === 'Sim' ? `<span style="color: green;">${dado.ExternallyAccepted}</span>` : `<span style="color: red;">${dado.ExternallyAccepted}</span>`}</p>
                              ${dado.ApprovalStatusId === 1 ? `
                                    <p class="card-text">
                                       <i class="fas fa-exclamation-triangle button-icon" style="color: orange;"></i> Aguardando aprovação
                                    </p>
                              ` : ''}
                              <p class="data-status card-status">Status: 
                                    ${dado.StatusId === 1 ? `<span style="color: blue;">Em Aberto</span>` : (dado.StatusId === 2 ? `<span style="color: green;">Ganha</span>` : `<span style="color: red;">Perdida</span>`)}
                              </p>
                              <p class="card-text">Data: ${dado.LastUpdateDate}</p>
                              <p class="card-text">Valor: R$ ${dado.Amount}</p>
                              <p class="card-text">
                                    PDF:
                                    <span class="pdf-data" style="display: none;">${dado.link.pdf}</span>
                                    <span class="copy-icon" onclick="copyText('${dado.link.pdf}')"><i class="fas fa-copy"></i></span>
                                    <a href="${dado.link.pdf}" target="_blank"><i class="fa-solid fa-file"></i></a>
                                    Aceite:
                                    <span class="aceite-data" style="display: none;">${dado.link.aceite}</span>
                                    <span class="copy-icon" onclick=copyText('${dado.link.aceite}')"><i class="fas fa-copy"></i></span>
                                    <a href="${dado.link.aceite}" target="_blank"><i class="fa-solid fa-file"></i></a>
                                    ${dado.StatusId === 2 && dado.link_venda != '' ? `
                                       Venda:
                                       <span class="pdf-venda-data" style="display: none;">${dado.link_venda}</span>
                                       <span class="copy-icon" onclick="copyText('${dado.link_venda}')"><i class="fas fa-copy"></i></span>
                                       <a href="${dado.link_venda}" target="_blank"><i class="fa-solid fa-file"></i></a>
                                    ` : ''}
                              </p>
                              ${dado.StatusId === 2 || dado.StatusId === 3 || dado.ApprovalStatusId === 1 ? `
                                       <a class="btn btn-success btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="showModalRevisar('${dado.DealId}')">Revisar</a>
                              ` : `
                                       ${dado.ExternallyAccepted !== 'Sim' ? `
                                       <a class="btn btn-danger btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="showModalPerder('${dado.DealId}', '${dado.ContactName}')">Perder</a>
                                       <a class="btn btn-info btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="reenviarEmail('${dado.DealId}', '${dado.ContactName}')">Reenviar e-mail</a>
                                       <a class="btn btn-success btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="showModalRevisar('${dado.DealId}')">Revisar</a>
                                    ` : dado.PersonId !== null ?
                                    `  
                                       <a class="btn btn-success btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="showModalGanhar('${dado.DealId}')">Ganhar</a>
                                       <a class="btn btn-danger btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="showModalPerder('${dado.DealId}', '${dado.ContactName}')">Perder</a>
                                       <a class="btn btn-info btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="reenviarEmail('${dado.DealId}', '${dado.ContactName}')">Reenviar e-mail</a>
                                       <a class="btn btn-success btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="showModalRevisar('${dado.DealId}')">Revisar</a>
                                    `: 
                                    `
                                       <a class="btn btn-danger btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="showModalPerder('${dado.DealId}', '${dado.ContactName}')">Perder</a>
                                       <a class="btn btn-info btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="reenviarEmail('${dado.DealId}', '${dado.ContactName}')">Reenviar e-mail</a>
                                       <a class="btn btn-success btn-sm" style="color: #fff; padding: 0.1rem 0.5rem;" onclick="showModalRevisar('${dado.DealId}')">Revisar</a>
                                    `
                                    }
                              `}
                           </div>
                        </div>
                  </div>
               `;
            });
            $("#loading-overlay").hide();
            botaoAdicionarContato()
       })
       .catch(error => {
            $("#loading-overlay").hide();
           console.error('Erro ao enviar requisição:', error);
       });
   }
</script>

<script>

   $(document).ready(function () {
      function contatos_Valores() {
         var campo_inputs = $('.campo_input');
         var suggestions_campo_inputs = $('.suggestions_campo_input');
         var salvar_contato = $('.salvarContato');

         campo_inputs.on('input', function () {
            var inputValue = $(this).val();
            var suggestions_campo_input = $(this).siblings('.suggestions_campo_input');

            if (inputValue.trim() === '') {
               suggestions_campo_input.hide();
               return;
            }

            inputNomesContatos(inputValue)
               .then(function (contatosResponse) {
                  suggestions_campo_input.empty();

                  contatosResponse.forEach(function (contato) {
                     var suggestionItem;

                     if (contato.Company) {
                        suggestionItem = $('<div class="suggestion-item">' + contato.Name + '<strong> (' + contato.Company.Name + ')</strong>' + '</div>');
                     } else {
                        suggestionItem = $('<div class="suggestion-item">' + contato.Name + '</div>');
                     }

                     suggestionItem.on('mousedown', function (event) {
                        event.preventDefault();
                        suggestions_campo_input.hide();
                        suggestions_campo_input.empty();
                        campo_inputs.val(contato.Name);
                     });

                     suggestions_campo_input.append(suggestionItem);
                     suggestions_campo_input.show();
                  });
               })
               .catch(function (error) {
                  console.error(error);
               });
         });

         campo_inputs.on('blur', function () {
            // Agora, o código a seguir é executado quando o campo perde o foco
            suggestions_campo_inputs.hide();
         });
      }

      // Chama a função quando o documento estiver pronto
      contatos_Valores();
   });


</script>

<script>
   // Script para procurar na lista de cards
   document.getElementById("searchInput").addEventListener("input", function () {
      var searchValue = this.value.toLowerCase();
      var cards = document.querySelectorAll("#containerDosCards");

      cards.forEach(function (card) {
         var cardText = card.textContent.toLowerCase();
         if (cardText.includes(searchValue)) {
            card.style.display = "block";
         } else {
            card.style.display = "none";
         }
      });
   });

</script>

<script>
   function reenviarEmail(dealId, nomeCliente) {
      // Exiba o overlay de carregamento
      $("#loading-overlay").show();

      // Dados a serem enviados para o backend
      const data = {
         dealId: dealId,
         nomeCliente: nomeCliente
      };

      // Configuração da solicitação
      const requestOptions = {
         method: 'POST', // Use 'POST' para enviar dados para o backend
         headers: {
            'Content-Type': 'application/json' // Tipo de conteúdo JSON
         },
         body: JSON.stringify(data) // Converte os dados em formato JSON
      };

      // URL do endpoint no seu backend
      const backendEndpoint = '/reenviarEmail';

      // Faça a solicitação POST para o backend
      fetch(backendEndpoint, requestOptions)
         .then(response => {
            if (!response.ok) {
               throw new Error('Erro ao enviar dados para o backend');
            }
            return response.json(); // Se o backend responder com JSON
         })
         .then(responseData => {
            // Manipule a resposta do backend, se necessário
            console.log('Resposta do Backend:', responseData);

            // Oculte o overlay após receber a resposta
            $("#loading-overlay").hide();
         })
         .catch(error => {
            console.error('Erro:', error);

            // Oculte o overlay em caso de erro também
            $("#loading-overlay").hide();
         });
   }

</script>

<script>

   // Modal para abrir opções de cadastro de cliente ou contato

   // Associar o evento de clique ao botão "Cadastrar Cliente ou contato"
   $(document).on('click', '#modal-cadastrar-cliente', function (event) {
      showModalEscolhaClienteOuContato(event);
   });

   // Fechar o modal ao clicar no botão de fechar
   $('#modalGanhar').on('click', '.close', function () {
      $('#modalGanhar').modal('hide');
   });

   $(document).on('click', '#botao-modal-interacao', function (event) {
      $('#modalGanhar').modal('hide');
      showModalInteracao(event);
   });

   $(document).on('click', '#pedidos-ganhos', function (event) {
      showModalPedidos(event);
   });

   // Fechar o modal ao clicar no botão de fechar
   $('#modalPedidos').on('click', '.close', function () {
      $('#modalPedidos').modal('hide');
   });

   $(document).on('click', '#btnVoltar', function (event) {
      // Feche o modal atual
      $('#cadastrar-empresa').modal('hide');

      // Agora, abra o modal de escolha entre cliente ou contato
      showModalEscolhaClienteOuContato(event);
   });

   // Associar o evento de clique ao botão "Cadastrar Empresa"
   $(document).on('click', '#cadastrar-empresa', function (event) {
      showModalCriarEmpresa(event);
   });

   // Fechar o modal ao clicar no botão de fechar
   $('#modalGanhar').on('click', '.close', function () {
      $('#modalGanhar').modal('hide');
   });

   // Associar o evento de clique ao botão "Cadastrar contato"
   $(document).on('click', '#cadastrar-contato', function (event) {
      showModalCriarContato(event);
   });

   // Fechar o modal ao clicar no botão de fechar
   $('#modalGanhar').on('click', '.close', function () {
      $('#modalGanhar').modal('hide');
   });

</script>

{% endblock %}